<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="Planner" android:theme="@android:style/Theme.Material" android:icon="@drawable/icon"></application>
</manifest>